h1 {
    color: black;
    text-align: center;
    height: 61.6vh;
    display: flex;                 /* active flexbox */
  flex-direction: column;        /* empile le contenu */
  justify-content: center;       /* centre verticalement */
  align-items: center;
}
.page {
    min-width: 50vw;
    height: 59.6vh;
}